/* consider css modules */

.card {
  /* width: 270px; */
  height: 525px;
  /* background-color: seashell; */
  background-color: white;
  margin-top: 22px;
  padding: 2rem;
  border-radius: 10px;
  position: relative;
  /* z-index: -1; */
}

.card img {
  width: 180px;
  height: 220px;
  object-fit: contain;
}

.product-info {
  font-size: 1.1rem;
}

.product-name {
  font-size: 1.2rem;
  cursor: pointer;
}

.dollar-sign {
  font-size: 1rem;
  position: relative;
  bottom: 4px;
}

.price {
  font-weight: bold;
  font-size: 1.5rem;
}

.buttons-section {
  position: absolute;
  bottom: 16px;
}

.input-number {
  width: 15%;
  margin: 0 25px;
  padding: 6px;
  background-color: #f1f1f1;
  font-size: 1rem;
  text-align: center;
  border: 0;
  border-radius: 6px;
}

.adjust-btn {
  border-radius: 50%;
  background-color: whitesmoke;
  padding: 10px 16px;
  font-size: 1.2rem;
}

.add-to-cart {
  margin-top: 1rem;
  background-color: greenyellow;
  border-radius: 20px;
  padding: 10px 30px;
}

@media only screen and (min-width: 700px) {
  .card {
    height: 45vh;
  }

  .buttons-section {
    bottom: 24px;
  }
}
