/* consider css modules */

.card {
  width: 270px;
  background-color: seashell;
  margin-top: 22px;
  padding: 2rem;
  border-radius: 16px;
}

.card img {
  width: 180px;
}

.product-info {
  font-size: 1.1rem;
}

.product-name {
  font-size: 1.2rem;
}

.dollar-sign {
  font-size: 1rem;
  position: relative;
  bottom: 4px;
}

.price {
  font-weight: bold;
  font-size: 1.5rem;
}

.input-number {
  width: 15%;
  margin: 0 15px;
  padding: 6px;
  font-size: 1rem;
  text-align: center;
  border: 0;
}

.adjust-btn {
  border-radius: 20px;
  background-color: azure;
  padding: 10px 16px;
  font-size: 1.2rem;
}

.add-to-cart {
  margin-top: 1rem;
  background-color: greenyellow;
  border-radius: 20px;
}
