ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: burlywood;
}

li {
  float: left;
}

.navbar-btn {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-btn:hover {
  color: white;
  background-color: rgb(158, 113, 53);
}

.cart {
  float: right;
  margin-top: 6px;
  color: white;
}

.cart div {
  display: inline-block;
}

.cart button {
  margin: 0 14px;
}
